{% extends 'core/base.html' %}
{% block title %}Add Student{% endblock title %}
{% block cont %}
<section class="container">
    <div class="row justify-content-around text-center text-white mt-3">
        <div class="col-sm-8">
            <h3>CRUD Project python Django</h3>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-8">

        </div>
        <div class="row justify-content-around   mt-1">
            <div class="col-sm-4">
                <form action="" method="post" class="bg-white p-3 rounded">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="submit" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>


{% endblock cont %}
</section>